name: CI

on: 
  push:
    branches: [ main]

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/chechout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
